@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sintony&display=swap');

body {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	overflow: hidden;
    
}

.body {
	background-color: #FC766AFF;
	
}

.nav-container {
    z-index: 10;
    top: 0;
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: transparent;
	color: #783937FF;
	font-family: 'Julius Sans One', sans-serif;
	
}

.nav-items {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list-container > li {
    margin: 0 2rem;
    list-style: none;
}

.logo-container > h1 {
	font-size: 2rem;
	margin: 0 2rem;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 5px;
}

.logo-container a , 
.nav-list-container > li > a {
	text-decoration: none;
	color: #783937FF;
}

.works-container {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works {
	width: 25vw;
	height: 100%;
	transition: background-color 2s ease-out;
	/* background-color: #fff; */
}

.number {
	display: flex;
	bottom: 0;
	position: absolute;
	align-self: center;
	
}

.number > h1 {
	width: 25vw;
	text-align: center;
	
}

.number a {
	color: #783937FF;
	text-decoration: none;
}

.content {
	display: none;
	
}

.content > img {
	position: absolute;
	z-index: -1;
	width: 25vw;
	height: 100vh;
	filter: blur(3px);
}

.number:hover + .content{
	height: 100vh;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	color: #34312d;
	text-align: center;
	font-family: 'Crimson Text', serif;
	padding: 1rem;
	background-attachment: fixed;
	overflow: hidden;
}

/* about */
.about-nav {
	background-color: #c55458;
	box-shadow: 0px 1px 10px -1px rgba(61,61,61,1);
}

main {
	position: relative;
	top: 80px;
	display: flex;
}

main h3 {
	color: #2A2B2DFF;
	font-family: 'Sintony', sans-serif;
}

.upper-right-side, .lower-right-side {
	height: 45vh;
	width: 50vw;
	color: #2A2B2DFF;
	padding: 0 1rem;
	text-align: center;
}

.upper-right-side {
	padding-top: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prof-pic-con {
	width: 40vh;
	height: 40vh;
	border-radius: 50%;
	background-image: url(../images/ablang.jpg);
	background-size: cover;
	background-position: center top;
}


.lower-right-side > .contact {
	margin: 0.5rem 0;
}

.social-media {
	margin: 2rem;
}

.mail a {
	text-decoration: none;
	color: #2A2B2DFF;
}

.left-side {
	padding-top: 1.5rem;
	width: 50vw;
	height: 100vh;
}

.upper-left-side {
	height: 35%;
}

.upper-left-side > p {
	padding: 0 1rem;
	font-family: 'Sintony', sans-serif;
}

.lower-left-side {
	height: 65%;
}

.lower-left-side i {
	margin: 0.5rem;
	color: #783937FF;
}

.skills {
	display: flex;
	flex-flow: row wrap;
}

.mysql {
	margin: 0.1rem 0.5rem;
	color: #783937FF;
	font-family: 'Oswald', sans-serif;
}

.mysql > p {
	margin: 0;
	text-align: center;
}

.social-icons {
	margin: 0.5rem 1rem;
	font-size: 35px;
	color: #783937FF;
}

.waver {
	font-size: 20px;
	color: #783937FF;
	text-align: center;
	animation: waver 0.65s alternate infinite;
	transform-origin: 50% 90%;
	animation-timing-function: ease-in-out;
}

@keyframes waver {
	0% {transform: rotate(-25deg);}
	100% {transform: rotate(30deg);}
}





/* animation text */

.sp-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: radial-gradient(rgba(120,57,55, 0.1), rgba(120,57,55, 0.3) 35%, rgba(120,57,55, 0.7));
}
.sp-content {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: -1;
}
.sp-container h4 {
	position: absolute;
	top: 50%;
	line-height: 100px;
	height: 90px;
	margin-top: -50px;
	font-size: 50px;
	width: 100%;
	text-align: center;
	color: transparent;
	animation: blurFadeInOut 3s ease-in backwards;
}
.sp-container h4.frame-1 {
	animation-delay: 0s;
}
.sp-container h4.frame-2 {
	animation-delay: 3s;
}
.sp-container h4.frame-3 {
	animation-delay: 6s;
}
.sp-container h4.frame-4 {
	font-size: 50px;
	animation-delay: 9s;
}
.sp-container h4.frame-5 {
	animation: none;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
}
.sp-container h4.frame-5 span {
	animation: blurFadeIn 3s ease-in 12s backwards;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
}
.sp-container h4.frame-5 span:nth-child(2) {
	animation-delay: 13s;
}
.sp-container h4.frame-5 span:nth-child(3) {
	animation-delay: 14s;
}
.sp-globe {
	position: absolute;
	width: 282px;
	height: 273px;
	left: 50%;
	top: 50%;
	margin: -137px 0 0 -141px;
	background: transparent url(http://web-sonick.zz.mu/images/sl/globe.png) no-repeat top left;
	animation: fadeInBack 3.6s linear 14s backwards;
	filter: alpha(opacity=30);
	opacity: 0.3;
	transform: scale(5);
}
.sp-circle-link {
	position: absolute;
	left: 50%;
	bottom: 100px;
	margin-left: -50px;
	text-align: center;
	line-height: 100px;
	width: 100px;
	height: 100px;
	background: #fff;
	color: #3f1616;
	font-size: 25px;
	border-radius: 50%;
	animation: fadeInRotate 1s linear 16s backwards;
	transform: scale(1) rotate(0deg);
}
.sp-circle-link:hover {
	background: #85373b;
	color: #fff;
}
/**/

@-webkit-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-webkit-transform: scale(0);
	}
}
@-webkit-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-webkit-transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes fadeInBack {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	50% {
		opacity: 0.4;
		-webkit-transform: scale(2);
	}
	100% {
		opacity: 0.2;
		-webkit-transform: scale(5);
	}
}
@-webkit-keyframes fadeInRotate {
	0% {
		opacity: 0;
		-webkit-transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(0deg);
	}
}
/**/

@-moz-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-moz-transform: scale(0);
	}
}
@-moz-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
}
@-moz-keyframes fadeInBack {
	0% {
		opacity: 0;
		-moz-transform: scale(0);
	}
	50% {
		opacity: 0.4;
		-moz-transform: scale(2);
	}
	100% {
		opacity: 0.2;
		-moz-transform: scale(5);
	}
}
@-moz-keyframes fadeInRotate {
	0% {
		opacity: 0;
		-moz-transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1) rotate(0deg);
	}
}
/**/

@keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		transform: scale(0);
	}
}
@keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}
@keyframes fadeInBack {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 0.4;
		transform: scale(2);
	}
	100% {
		opacity: 0.2;
		transform: scale(5);
	}
}
@keyframes fadeInRotate {
	0% {
		opacity: 0;
		transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}

.mobile-body {
	display: none;
}


/* contact me text animation */









/* MEDIA QUERY */
@media only screen and (max-device-width : 320px) {
	body {
		/* overflow: auto; */
		overflow: unset;
	}

	.sp-container, .nav-container, .works-container, .nav-container, main {
		display: none;
	}

	.mobile-body {
		display: flex;
		flex-flow: column wrap;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		overflow-x: hidden;
		font-family: 'Sintony', sans-serif;

	}

	.mobile-nav {
		width: 100vw;
		height: 10vh;
		background-color: #FC766AFF;
		color: #85373b;
		text-align: center;
	}

	.mobile-nav > h1 {
		font-family: 'Oswald', sans-serif;
		margin: 10px;
	}

	.up {
		display: flex;
		flex-flow: column wrap;
		background-color: white;
		height: 50vh;
		width: 100vw;
		border-radius: 25px;
		margin-bottom: 20px;
	}

	.skills-buttons {
		width: 100vw;
		height: 30px;
		text-align: center;
	}

	.skills-buttons > p {
		margin: 0 5px;

	}

	.skills-title {
		text-align: center;
	}

	.profile-container {
		margin: 15px 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}

	.profile-picture-container {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.the-picture {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		background-image: url(../images/attractive-beautiful-beauty-2065194.jpg);
		background-size: cover;
		background-position: center top;
		margin: 0;
	}

	.intro {
		width: 50%;
		text-align: center;
	}

	.intro > p {
		margin: 1rem;
	}

	.buttons {
		width: 100vw;
		text-align: center;
		position: absolute;
		z-index: 10;
		top: 60vh;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.button {
		background-color: gray;
		text-decoration: none;
		color: #2A2B2DFF;
		padding: 1rem;
		text-align: center;
		margin: 0 15px;
		border-radius: 10px;
	}

	.mobile-work-area {
		width: 90vw;
		height: 150px;
		background-color: white;
		margin: 3rem 1rem;
		border-radius: 25px;
		display: flex;
		flex-flow: row wrap;
	}

	.area-image-container {
		border-radius: 25px;
		width: 50%;
		background-image: url("https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940");
		background-size: cover;
		color: #85373b;
		display: flex;
		align-items: center;
		text-align: center;
	}

	.area-description-container {
		width: 50%;
		font-size: 12px;
		text-align: center;
	}

	.area-description-container > p {
		padding: 10px;
	}

	.area-description-container > a {
		padding: 10px;
		text-decoration: none;
		color: #783937FF;
		background-color: gray;
	}

	/* about */

	.mobile-about {
		background-color: #FC766AFF;
		color: #85373b;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
	}
}


